:root {
    color-scheme: dark;
}

/* global styles */

/* body {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    margin: 0;
} */

body {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
   display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


img {
    max-width: 100%;
}
main {
    width: 80vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
.page-links {
    display: none;
}

.topnav {
    overflow: hidden;
}

.topnav.responsive .page-links {
    background: #000000;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 52px;
    width: 100%;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    /* height: 100vh; */
    justify-content: flex-start;
}

.topnav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.5s ease;
}

.topnav a:hover,
.topnav a:focus {
    color: #ff0000;
    text-decoration: underline;
}

.topnav a:focus {
    outline: 3px solid #ff0000;
}

.topnav a.active {
    background-color: #00000084;
}


header {
    background: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
    width: 94vw;
    justify-content: space-between;
}

h1,
h2 {
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
}

/* page specific layouts */

.home main {
    align-items: flex-start;
}




/* footer formatting */

footer ul {
list-style-type: none;
}

/* Media Queries */

@media (min-width: 677px) {

    /* check with a demo tab how big your breakpoint is, it may not be 480 */
    .topnav .icon {
        display: none;
    }

    .page-links {
        display: none;
        background: transparent;
        display: flex;
        flex-direction: row;
        position: relative;
        width: auto;
        align-items: flex-start;
        gap: 10px;
        padding: 0;
        justify-content: flex-start;
    }

    /* .topnav a { 
        color: #000000;
        text-decoration: none;
        font-size: 17px;
        transition: all 0.5s ease; 
    }*/
}